.btnHero {
  margin: 2rem 0;
  text-transform: capitalize;
  cursor: pointer;
  outline: 1;
  font-family: "lora", serif;
  padding: 0.6em 1em;
  background-color: transparent;
  border: 1px solid #ffff;
  color: #ffff;
  font-size: 1.7em;
  font-weight: 600;
  transition: all 500ms;
}

.btnHero:hover {
  backdrop-filter: blur(16px);
  /* border: 1px solid #011731; */
  border: none;
  color: #011731;
  background-color: #ffff;
  margin-left: 5px;
}

.btnDiscover {
  padding: 0.5em;
  background-color: #fff;
  margin: 15px 10px 2rem;
  padding: 13px 20px;

  text-transform: capitalize;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
  outline: 1;
  font-family: "lora", serif;
  transition: background-color 0.3s, color 0.3s;
  position: absolute;
  bottom: 1px !important;
}

.btnDiscover:hover {
  background-color: rgb(95, 140, 158);
  color: #fff;
}

.btnHistory {
  margin-top: 2rem;
  border: 3px solid #333333;
  color: #333333;
  font-size: 1rem;
  padding: 15px 25px;
  background-color: transparent;
  /* font-family: "sora", "serif"; */
  font-weight: 600;
  outline: 5;
  transition: 0.4s ease;
}

.btnHistory:hover {
  margin-left: 10px;
}

.btnPosition {
  position: absolute;
}

.btnExoand {
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: 5px;
  color: #2980b9;
  font-size: 16px;
}

.btnExoand:hover {
  border-bottom: 1px solid #2980b9;
}

.btnNav {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .btnHero {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 1rem;
  }

  .btnDiscover {
    position: initial;
  }
}

.btnNavClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease;
  color: #000;
}

.btnNavClose:hover {
  transform: rotate(360deg);
}
