.section {
  flex: 1 1 0;
}
.section h3 {
  margin: 3rem 0 7px;
  color: #333;

  font-family: "Playfair Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.section p {
  margin: 20px 0;

  color: #454444;
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

.section h3.first {
  margin: 0;
  color: #0474f7;
}

.section p.firstBody {
  color: #0474f7;
}
