.contain {
  color: #fff;
  min-height: 50vh;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.4),
      rgba(36, 42, 46, 0.4)
    ),
    url("/valley2.jpg");
  background-size: cover;
  background-position: center;
  /* margin: 3rem 0; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  height: 60vh;
}

.contain h3 {
  text-transform: capitalize;
  /* margin-bottom: 1.5rem; */
  /* margin-left: 15px; */
  margin: 30px 10px;
  text-align: left;
  position: absolute;
  top: 100px;
}

.contain p {
  font-size: 1rem;
  opacity: 0.8;
  margin-left: 10px;

  position: absolute;
  bottom: 115px;
}

.card {
  flex: 1;
  text-align: left;
  /* padding: 1.5rem;
  border-radius: 8px; */
  /* box-shadow: 0 2px 1px rgba(0, 0, 0, 0.06); */
  height: 100%; /* Makes all cards same height in grid */
}

.card h3 .card p {
  margin: 5px 10px;
  text-align: left;
}

@media (max-width: 1200px) {
  .contain {
    height: 20vh;
  }

  .contain {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2),
      0 25px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .contain p {
    font-size: 14px;
    opacity: 0.9;
    line-height: 1.6;
  }

  .contain h3 {
    position: initial;
  }

  .contain p {
    position: initial;
    padding-right: 20px;
  }
}
