.discover {
  width: 100%;
  margin: 0 auto;
  max-width: 70%;
  padding: 4rem 0;
  font-family: "Playfair Display", serif;
  margin-top: 1.5rem;
}

.sectionText {
  text-align: center;
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.whole {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 1.5rem;
  margin-top: 3rem;
}

.last {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 185px;
}
