.carousel {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

:global(.swiper-button-prev::after),
:global(.swiper-button-next::after) {
  font-size: 25px !important;
  color: #fff;
}

:global(.swiper-button-prev) {
  top: 82% !important;
  left: 82% !important;
}

:global(.swiper-button-next) {
  right: 10px !important;
  top: 82% !important;
}

:global(.swiper-pagination-bullet-active) {
  background-color: #fff !important;
}

@media (max-width: 1200px) {
  .carousel {
    width: 300px;
  }

  :global(.swiper-button-prev) {
    top: -100% !important;
  }

  :global(.swiper-button-next) {
    right: 1px !important;
    top: 94% !important;
  }

  :global(.swiper-button-prev::after),
  :global(.swiper-button-next::after) {
    color: #fff;
    font-size: 2rem !important;
  }

  :global(.swiper-pagination) {
    /* margin-bottom: -3px; */
  }

  :global(.swiper-pagination-bullets) {
    bottom: -4px !important;
    /* margin-bottom: -4px !important; */
    /* top: 30% !important; */
  }
}
